.heroSection {
  position: relative;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 0;
  opacity: 1;
  overflow: hidden;
  flex-wrap: nowrap;
}

.heroWrapper {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 70px 0px;
  /* max-width: 1440px; */
  overflow: visible;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
}

.heroImageWrapper {
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.leftSideImage {
  box-sizing: border-box;
  width: 182px;
  height: 224px;
  display: block;
  background-image: url("/hero/butterfly.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid #181818;
}

.leftImageGroup {
  width: 324px;
  height: 336px;
  display: block;
  overflow: visible;
  position: relative;
}

.leftImageGroup .topImage {
  box-sizing: border-box;
  width: 182px;
  height: 242px;
  display: block;
  background-image: url("/hero/butterfly.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid #181818;

  position: absolute;
  top: 94px;
  bottom: 0px;
  left: 142px;
  right: 0px;
}

.leftImageGroup .bottomImage {
  box-sizing: border-box;
  width: 182px;
  height: 224px;
  display: block;
  background-image: url("/hero/butterfly.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid #181818;

  position: absolute;
  top: 0px;
  bottom: 112px;
  left: 0px;
  right: 142px;
}

.centerImage {
  width: 332px;
  height: 450px;
  display: block;
  z-index: 3;
  aspect-ratio: 0.7376104494813677 / 1;
  position: relative;
}

.centerImage .centerHeroImage {
  width: 332px;
  height: 450px;
  box-sizing: border-box;

  display: block;
  background-image: url("/hero/butterfly.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid #181818;

  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.rightImageGroup {
  width: 318px;
  height: 374px;
  display: block;
  overflow: visible;
  position: relative;
}

.rightImageGroup .topImage {
  box-sizing: border-box;
  width: 182px;
  height: 243px;
  display: block;
  aspect-ratio: 0.75 / 1;
  background-image: url("/hero/butterfly.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid #181818;

  position: absolute;
  top: 131px;
  bottom: 1px;
  left: 136px;
  right: 0px;
}

.rightImageGroup .bottomImage {
  box-sizing: border-box;
  width: 182px;
  height: 275px;
  display: block;
  aspect-ratio: 0.6640625 / 1;
  background-image: url("/hero/butterfly.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid #181818;

  position: absolute;
  top: 1px;
  bottom: 99px;
  left: 1px;
  right: 135px;
}

.rightImage {
  box-sizing: border-box;
  width: 182px;
  height: 224px;
  display: block;
  background-image: url("/hero/butterfly.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid #181818;
}

.heroDesc {
  box-sizing: border-box;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 40px 0px;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.heroDesc .desc {
  width: 100%;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  text-align: center;
  max-width: 1300px;
  font-size: 35px;
  line-height: 1.2;
}

@media screen and (max-width: 809px) {
  .heroDesc {
    padding: 20px;
  }

  .heroDesc .desc {
    font-size: 30px;
  }
}
